@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.product:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-link {
    color: #ff8400 !important;
    text-decoration: none;
}

.carousel-caption {
    height: 380px;
    bottom: 0 !important;
}

.carousel,
.carousel-inner,
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    height: 380px;
}

.product {
    height: 300px;
    transition: box-shadow 0.3s ease;
}

.form-group col-md-11 {
    width: 100% !important;
}

.label1 {
    text-align: center;
    margin-left: 15%;
}

.btn-dark {
    color: #fff;
    background-color: #9800b8;
    border-color: #343a40;
}

.my {
    background-color: #de18a5 !important;
}

.form-group {
    margin-bottom: 1rem;
}

.formprof {
    width: 80%;
    margin-left: 10%;
}

.bg-dark1 {
    background: #de18a5 !important;
}

.card-columns {
    margin-left: 10px;
    margin-right: 10px;
}

.card-columns .card {
    border-radius: 4px;
}

.card-body {
    background: white;
    border-radius: 4px;
    color: black;
}

.card-top {
    background: linear-gradient(#de18a5, #6d6dff);
}

.navbar-nav {
    margin-left: auto;
}

h2 {
    vertical-align: center;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.input1, .input2 {
    width: 70%;
    margin-left: 15%;
}

.labelw {
    margin-left: 15%;
}

.card-img-top {
    height: 250px;
}

label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    object-position: center;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
    height: 100%;
}
